@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    font-family: 'Caveat', cursive;
}

.container {
    display: flex;
    flex-direction: column;
	align-items: center;
    width: 100%;
	background-color: #fff;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 3rem 3rem 10rem 3rem;

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__figure {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-self: center;
    }

    &__img {
        width: 20%;
        fill: yellow;
    }

    &__headline {
        margin-top: 2rem;
        margin-bottom: 6rem;
        text-align: center;

        h1 {
            font-size: 2rem;
        }
    }
    
    h3 {
        font-size: 1.5rem;
    }

    .swipe-arrow {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .arrow-down {
            width: 15%;
            transform: translateY(0);
            animation: swipeDownArrow 3s ease-out infinite;
        }
    }
}

@keyframes swipeDownArrow {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-140%);
    }

    66% {
        transform: translateY(40%);
    }

    100% {
        transform: translateY(0);
    }
}

.section {
    display: flex;
	flex-direction: column;
	//align-items: center;
	justify-content: center;
    width: 100%;
    padding: 3rem;
}

.figure {
    align-self: center;
    width: 100%;
	display: flex;
	justify-content: center;
	
	img {
		max-width: 100%;
	}
}

.headline {
    align-self: stretch;
    font-size: 2.2rem;
    text-align: center;
    
    margin-top: 2rem;
}

.just-al {
    text-align: justify;
}

.left-al {
    text-align: left;
}